*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Search{
  background-color: aqua;
  padding: 10px;
  text-align: center;
}

.Search h2{
  color: white;
}

.Search input[type=text]{
  width: 10%;
  height: 30px;
  padding-left: 10px;
}

.Search input[type=number]{
  width: 10%;
  height: 30px;
  padding-left: 10px;
}